.App {
  background-color: rgb(76, 74, 68);
}

* {
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a, button {
  cursor: pointer;
}

h1 {
  font-size: 17vw;
  margin: 22px 0;
  text-align: center;
}