.App {
  background-color: rgb(76, 74, 68);
}

* {
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a, button {
  cursor: pointer;
}

h1 {
  font-size: 17vw;
  margin: 22px 0;
  text-align: center;
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background-color: transparent;
  border: 1.5px solid #616161;
}

html::-webkit-scrollbar-thumb {
  background-color: #616161;
  border: 2px solid #616161;
  border-radius: 5px;
}