.container {
    display: block;
    margin: 0 2em;
    padding-bottom: 1em;
}

.container p {
    line-height: 2;
    margin: 1em 0;
}

@media only screen and (min-width: 1025px) {
    .container p {
        font-size: 38px;
        margin: 2em 0;
    }

  }