.titleContacts {
    margin: 100px 20px;
}

.container {
    display: block;
    margin: 0 2em;
    padding-bottom: 1em;
}

.emails { 
    display: block;
    margin: 1em 0;
}

.emails h2 {
    margin: 1em 0;
    font-size: 18px;
}

.collaborators {
    display: block;
    margin: 50px 0;
    text-align: center;
}

.collaborators li {
    list-style: none;
    margin: 1em 0;
}

.developer {
    display: flex;
    justify-content: space-around;
}

.container p {
    font-size: 22px;
    line-height: 2;
    margin: 1em 0;
}

@media only screen and (min-width: 1025px) {

    .contacts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }

    .emails {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
    }


  }

  @media only screen and (min-width: 1251px) {
    
    .contacts {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

  }