.header {
    height: 100vh;
}

.logo {
    font-size: 24px;
    margin: 0 !important;
}

.container {
    display: flex;
    align-items: center;
    margin: 0 1em;
    height: 80px;
}

.nav {
    height: 0;
    overflow: hidden;
    text-align: center;
    transition: height 2s ease-out;
    z-index: 1;
    position: relative;
    background-color: rgb(76, 74, 68);
}

.nav.open {
    height: 285px;
    overflow: hidden;
    max-height: 285px;
    border-bottom: solid 2px #fff;
}

.nav ul {
    display: inline-block;
    text-align: left;
    list-style: none;
}

.nav span {
    display: inline-block;
    font-size: 24px;
    transform: translateY(-24px);
    margin: 0 12px;
}

.nav button {
    color: #fff;
    background-color: transparent;
    font-size: 48px;
    border: 0;
}

.nav li {
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    background: linear-gradient(#fff, #fff) bottom / 0 2px no-repeat;
    transition: 1s background-size;
}

.nav li:hover {
    background-size: 100% 2px;
}

.hamburger {
    position: absolute;
    top: 1em;
    right: 1em;
    padding: .25em;
}

.hamburgerLine {
    background-color: #fff;
    height: 8px;
    width: 40px;
    margin: .5em;
    transition: transform 2s ease-out;
}

.cross1 {
    transform: rotate(-225deg) translateX(12px);
}

.cross2 {
    transform: rotate(225deg) translateX(10px);
}

.payoff {
    position: absolute;
    bottom: 100px;
    font-size: 64px;
    overflow: hidden;
    width: 100%;
}

.payoff ul {
    list-style: none;
}

.payoff li {
    width: -moz-fit-content;
    width: fit-content;
}

.payoff p {
    display: inline;
    opacity: 0;
    margin: 0 20px;

}

.p1 {
    -moz-animation: header-animation 1s linear forwards;
    -webkit-animation: header-animation 1s linear forwards;
    animation: header-animation 1s linear forwards;
    animation-delay: 2s;
}

.p2 {
    -moz-animation: header-animation 1s linear forwards;
    -webkit-animation: header-animation 1s linear forwards;
    animation: header-animation 1s linear forwards;
    animation-delay: 2.5s;
}

.p3 {
    -moz-animation: header-animation 1s linear forwards;
    -webkit-animation: header-animation 1s linear forwards;
    animation: header-animation 1s linear forwards;
    animation-delay: 3s;
}


  @-moz-keyframes header-animation {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  @-webkit-keyframes header-animation {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  @keyframes header-animation {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  @media only screen and (min-width: 1025px) {
    .header {
        height: 100vh;
    }
    
    .container {
        align-items: center;
        height: 150px;
    }

    .logo {
        font-size: 8vw;
    }

    .hamburger {
        top: 2em;
        right: 1.5em;
        padding: .5em;
    }
    
    .hamburgerLine {
        height: 16px;
        width: 80px;
        margin: 1em;
    }

    .cross1 {
        transform: rotate(-225deg) translateX(22px);
    }
    
    .cross2 {
        transform: rotate(225deg) translateX(22px);
    }

    .nav.open {
        height: 550px;
        max-height: 550px;
    }

    .nav span {
        display: inline-block;
        font-size: 42px;
        transform: translateY(-36px);
        margin: 0 24px;
    }
    
    .nav button {
        font-size: 62px;
    }
    
    .nav li {
        margin: 20px;
        padding: 20px;
    }

    .payoff {
        font-size: 75px;
    }
  }

  @media only screen and (min-width: 1251px) {
    
    .logo {
        font-size: 60px;
    }

    .nav.open {
        height: 80px;
        max-height: 80px;
    }
    
    .nav ul {
        display: flex;
        justify-content: center;
    }

    .nav li {
        margin: 10px 20px;
        padding: 5px 20px;
    }

    .nav span {
        font-size: 32px;
        transform: translateY(-24px);
        margin: 0 12px;
    }

    .nav button {
        font-size: 48px;
    }
    
    .payoff {
        font-size: 5vw;
    }
  }