h1 {
    margin: 0 20px;
}

.container p {
    line-height: 2;
    font-size: 42px;
}

.container {
    display: block
}

.lineTop {
    background-color: #fff;
    width: 1px;
    height: 0;
    margin: 0 20px;
    position: absolute;
    top: calc(100vh - 75px);
    
    -moz-animation: line-animation 1s linear forwards;
    -webkit-animation: line-animation 1s linear forwards;
    animation: line-animation 1s linear forwards;
    animation-delay: 1.5s;

}

@-moz-keyframes line-animation {
    from { height: 0; }
    to { height: 350px; }
  }

  @-webkit-keyframes line-animation {
    from { height: 0; }
    to { height: 350px; }
  }

  @keyframes line-animation {
    from { height: 0; }
    to { height: 350px; }
  }    


.lineCentre {
    background-color: #fff;
    width: 1px;
    height: 350px;
    margin: 0 50%;
}

.lineRight {
    background-color: #fff;
    width: 1px;
    height: 350px;
    margin: -150px calc(100% - 2em);
}

.textLeft {
    line-height: 3;
    font-size: 64px;
    margin: 25px 50px;
}

.margin {
    margin: 0 2em;
}