.container {
    display: block;
    margin: 0 2em;
}

.wrapVideo {
    width: 100%;
}

.wrapVideo video {
    width: inherit;
}

.serviceListTitle {
    font-size: 42px;
    margin: 1em 0;
}

.serviceList {
    margin: 1em 2em;
}

.serviceList p {
    font-size: 20px;
    line-height: 2;
}

.serviceList .mail {
    margin-top: 10px;
    font-weight: 800;
    font-size: 20px;
    text-decoration: none;
    word-break: break-all;
}

@media only screen and (min-width: 1025px) {
    
    .serviceListTitle {
        font-size: 68px;
        margin: 1em 0;
    }

    .serviceList p {
        font-size: 48px;
        line-height: 3;
    }
    
  }

  @media only screen and (min-width: 1251px) {
    
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
    }

    .serviceListTitle {
        font-size: 32px;
        margin: 1em 0;
        text-align: left;
    }

    .serviceList p {
        font-size: 24px;
        line-height: 2;
    }

  }