.socials {
    width: 64px;
    height: 64px;
    display: inline;
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 2;
    filter: drop-shadow(0px 0px 5px #acaaaa);
    transform: scale(.6);
    transition: .5s ease-out;
}

.socials:hover {
    filter: drop-shadow(0px 0px 10px #acaaaa);
    transform: scale(.7);
}