h1 {
    margin: 1em 20px;
}

.container p {
    line-height: 2;
    font-size: 42px;
}

.container {
    display: block
}

.lineTop {
    background-color: #fff;
    width: 1px;
    height: 0;
    margin: 0 20px;
    position: absolute;
    top: calc(100vh - 75px);
    
    -moz-animation: line-animation 1s linear forwards;
    -webkit-animation: line-animation 1s linear forwards;
    animation: line-animation 1s linear forwards;
    animation-delay: 3.5s;

}

@-moz-keyframes line-animation {
    from { height: 0; }
    to { height: 350px; }
  }

  @-webkit-keyframes line-animation {
    from { height: 0; }
    to { height: 350px; }
  }

  @keyframes line-animation {
    from { height: 0; }
    to { height: 350px; }
  }

.lineCentre {
    background-color: #fff;
    width: 1px;
    height: 320px;
    margin: 0 50%;
}

.lineRight {
    background-color: #fff;
    width: 1px;
    height: 350px;
    margin: -150px calc(100% - 20px);
}

.lineLeft {
    background-color: #fff;
    width: 1px;
    height: 350px;
    margin: -150px 20px;
}

.textLeft {
    line-height: 3;
    font-size: 64px;
    margin: 25px 50px;
}

.margin {
    margin: 0 1em;
}

.eye {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 500px;
}

.eye span {
    font-size: 64px;
    margin-left: 50px;
}

.eye div {
    width: 100%;
    position: relative;
}

.eye .following {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    background-color: #fff;
    transform: translate(-50%,-50%) rotate(45deg);
    border-radius: 75% 0;
}

.eye .ball {
    width: 15px;
    height: 15px;
    background: #222f3e;
    border: 20px solid #576574;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lineRightEye {
    width: 1px;
    height: 300px;
    background: #fff;
    margin: 0 75%;
    transform: translateY(-50px);
}

.filo {
    margin: .5em 0;
    font-size: 64px;
    text-align: center;

}

.end {
    margin: 5em 0 700px;
}

.end span {
    font-size: 78px;
}

.hidden {
    display: none;
}

@media only screen and (min-width: 1025px) {

    .lineTop {
        top: calc(100vh - 50px);
    }
    
    .eye {
        margin: 5em 20px;
    }

    .eye span {
        transform: translate(33%, 100%);
    }

    .lineRightEye {
        transform: translateY(-100px);
    }

    .lineLeft {
        margin: -75px 20px;
    }

    .lineRight {
        margin: -75px calc(100% - 20px);
    }

    .end {
        margin: 7em auto 300px;
        width: -moz-fit-content;
        width: fit-content;

    }
  }
